.*
*.o
*.i
*.d
*.g
*.bin
*.map
*.pyc
*.config
*.patch
*.egg-info
config*
./gdb*
client/build
client/dist
include/config.h
include/config_debug.h
tools/clean_tty
tools/toolchain
tools/installer*
!.gitignore
